.body
  = link_to image_tag('/images/twitter.png'), '/auth/twitter'
  = link_to image_tag('/images/facebook.png'), '/auth/facebook'

.footer
  = link_to 'I find free icons from here.', 'http://findicons.com/pack/60/doodle'
