.body
  Main Contents

.footer
  = link_to 'Source code (github).', 'http://github.com/dddaisuke/chanko-ab-testing-sample'
  = link_to 'chanko framework (github).', 'http://github.com/cookpad/chanko'
  = link_to 'follow me!', 'http://twitter.com/dddaisuke'
